/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/* Fixes */
::-moz-selection {
}
::selection {
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}

/* Common styles BEGIN */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:before,
.block-content:before,
.view-content:before {
  content: " ";
  display: table;
}
.clearfix:after,
.block-content:after,
.view-content:after {
  content: " ";
  display: table;
  clear: both;
}
html {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}
.region-header .region-inner,
#content-column .block-inner,
.region-tertiary-content .region-inner,
.region-footer .region-inner,
#main-content-header,
#content {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1, h2, h3, h4, h5, h6,
.site-name {
  line-height: 1.2;
}
h1, h2, h3, h4,
.site-name {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 0 34px;
}
h3, h4 {
  font-weight: 600;
}
h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
h1,
.site-name {
  font-size: 90px;
  font-weight: 900;
  text-transform: uppercase;
}
h2 {
  font-size: 52px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 33px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 18px;
}
.block-title {
  text-align: center;
  margin-bottom: 50px;
}
.region-inner > section,
.block-views {
  padding-top: 50px;
}
p {
  margin: 0 0 15px;
}
p:last-of-type {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
#columns,
.region {
}
#columns .region,
.region-header,
.region-footer {
}
#main-content,
#block-boxes-continue {
}
ul.primary {
  margin: 0 0 5px 0;
  padding: 5px 5px 0 5px;
}
#main-content {
  margin: 0;
}
#big-video-wrap {
  z-index: -1;
}
header h1 {
  display: none;
}
/* Common styles END */

/* Header BEGIN */
.region-header .block-inner {
  margin-left: 0;
  margin-right: 0;
}
#header {
  padding: 30px 0 18px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.block-logo-block,
#header nav {
  float: left;
}
.block-logo-block {
  width: 205px;
  height: 40px;
  margin-right: 20px;
}
nav ul.menu,
nav ul.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul.menu li {
  display: block;
  float: left;
}
nav ul.menu li + li {
  margin-left: 34px;
}
nav ul.menu a {
  text-transform: uppercase;
  line-height: 1;
  display: block;
  font-size: 16px;
  padding: 6px 6px 10px;
}
.block-menu ul.menu li a:hover,
.block-menu ul.menu li a.yes-visited {
}
/* Header END */

/* Footer BEGIN */
#footer {
}
.region-footer {
}
.footer-copyright {
  padding: 15px 18px 27px;
}
.footer-copyright p, 
.footer-copyright a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.footer-copyright a {
  margin: 0px 6px;
  text-decoration: none;
}
.region-footer .region-inner {
  padding: 16px 0px 0px;
}
/* Footer END */


/* Categories section BEGIN */
.bigvideo-categories .field-icon {
  text-align: center;
  margin-bottom: 40px;
}
.bigvideo-categories .field-icon .field-content {
  display: inline-block;
  font-size: 67px;
  width: 125px;
  height: 125px;
  line-height: 125px;
}
.bigvideo-categories .block-content {
  margin: 0px 0px 35px;
}
.view-bigvideo-categories {
  text-align: center;
  padding-top: 20px;
}
.bigvideo-categories .views-row {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  padding: 0 3.5%;
}
.bigvideo-categories .views-field-body {
  text-align: justify;
  line-height: 25px;
}
.bigvideo-categories .views-field-field-cat-image {
  text-align: center;
}
.view-categories .views-field.views-field-body {
  margin: 33px 0px 0px;
}
/* Categories section END */

/* Preview section BEGIN */
.view-preview .view-content {
}
.view-preview .views-row {
  float: left;
  width: 48.75%;
  margin-bottom: 15px;
}
.view-preview .views-row:nth-child(2n-1) {
  margin-right: 2.5%;
}
.view-preview .views-fieldset,
.view-preview .views-field-field-veh-image {
  float: left;
}
.view-preview .views-fieldset {
  height: 300px;
  width: 300px;
  padding: 30px;
  position: relative;
}
.preview .block-inner {
  padding-bottom: 110px;
}
.view-preview .views-fieldset a {
  padding: 8px 56px;
  display: inline-block;
  position: absolute;
  left: 30px;
  bottom: 38px;
  text-align: center;
  padding: 4px 32px;
  margin-top: 7px;
}
.view-preview .views-fieldset a:hover {
}
.view-preview .views-field-field-veh-image img {
  vertical-align: middle;
}
/* Preview section END */

/* Info slider BEGIN */
.owl-slider {
  height: 575px;
}
.owl-slider .block-inner {
  width: 950px;
}
.owl-slider .owl-theme {
  height: 435px;
}
.owl-pagination {
  position: absolute;
  top: 100%;
}
.owl-theme .owl-controls .owl-buttons .owl-prev,
.owl-theme .owl-controls .owl-buttons .owl-next {
  position: absolute;
  bottom: 50%;
  width: 31px;
  height: 52px;
  margin-bottom: -26px;
  opacity: 1;
  padding: 0px;
  text-indent: -9999px;
}
.owl-theme .owl-controls .owl-buttons div {
  margin: 0;
  padding: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
}
.owl-controls .owl-pagination {
  display: inline-block;
  bottom: 3px;
}
.owl-wrapper .views-field-title a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  text-decoration: none;
  font-weight: 600;
}
.owl-wrapper .views-field-body p {
  font-size: 20px; /* Approximation due to font substitution */
  line-height: 34px; /* Approximation due to font substitution */
}
.owl-wrapper-outer .views-field-title {
  margin-bottom: 30px;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  position: relative;
  right: 50%;
}

.owl-theme .owl-controls .owl-page span {
  opacity: 1;
  width: 15px;
  height: 15px;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
}

.owl-wrapper .owl-item > div {
  padding: 20px 75px;
}
.owl-theme .owl-controls {
  margin: 0px 0px 20px;
  text-align: center;
}
/* Info slider END */


/* villiage inc start*/

/* Welcome section BEGIN */
.bigvideo-theme-continue {
  padding-top: 170px;
  position: relative;
}
.bigvideo-theme-continue .site-name {
  text-align: center;
}
.bigvideo-theme-continue .site-slogan {
  font-size: 20px;
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
}
.bigvideo-theme-continue .continue-button-wrapper,
.bigvideo-theme-continue .continue-arrow {
  /*position: absolute;*/
  width: 100%;
  text-align: center;
  left: 0;
}

.bigvideo-theme-continue .continue-button-wrapper {
  bottom: 220px;
  bottom: 220px;
  padding: 21px 0px 26px;
}

.bigvideo-theme-continue .continue-arrow {
  bottom: 110px;
}
.bigvideo-theme-continue a.continue-button,
.bigvideo-theme-continue .continue-arrow div {
  display: inline-block;
}
.continue-button {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 53px;
}
.continue-button:hover {
}
.bigvideo-theme-continue .continue-arrow div {
  width: 28px;
  height: 50px;
}
/* Welcome section END */

/* Three blocks BEGIN */
.region-tertiary-content .region-inner {
  text-align: center;
}

.region-tertiary-content .block {
  display: inline-block;
  width: 28%;
  vertical-align: top;
  padding: 4% 4%;
  margin: 8% 2%;
}

.region-tertiary-content .block-title {
  text-align: center;
}

.region-tertiary-content .block-content {
  text-align: left;
}

.region-tertiary-content p {
  line-height: 26px; /* Approximation due to font substitution */
}

.region-tertiary-content h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  line-height: 39px;
  margin: 0px 0px 19px;
  font-weight: normal;
}
/* Three blocks END */