::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

video {
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
}
fieldset {
  border: 0;
}
textarea {
}
*:after {
}
.view-content:before {
}
.view-content:after {
}
html {
  color: #000;
}

.page {
  background: rgba(255, 255, 255, 0.4);
}

#content {
}
.site-name {
}
.site-name {
}
h3, h4 {
}
h5, h6 {
}
.site-name {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
.block-title {
}
.block-views {
}
p {
}
p:last-of-type {
}
a {
}
img {
}
.region {
  /*background: rgba(255, 255, 255, 0.4);*/
}
.region-footer {
  background: none;
}
#block-boxes-continue {
  background: rgba(255, 255, 255, 0.5);
}
ul.primary {
}
#main-content {
}
#big-video-wrap {
}
header h1 {
}
.region-header .block-inner {
}
#header {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid rgba(123, 123, 123, 0.7);
}
#header nav {
}
.block-logo-block {
}
nav ul.menu li {
}
nav ul.menu li {
}
nav ul.menu li + li {
}
nav ul.menu a {
  color: #000;
  border-bottom: 5px solid transparent;
}

.block-menu ul.menu li a:hover,
.block-menu ul.menu li a.yes-visited {
  border-bottom-color: #00adc1;
}

.block-menu ul.menu li a.yes-visited {
  border-bottom-color: #00adc1;
}
#footer {
  background-color: rgba(255, 255, 255, 0.4);
}
.region-footer {
  background: rgba(255, 255, 255, 0.5);
}
.footer-copyright {
}
.footer-copyright a {
  color: #000000;
}
.footer-copyright a {
}
.region-footer .region-inner {
}
.bigvideo-categories .field-icon {
}
.bigvideo-categories .field-icon .field-content {
  color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}
.bigvideo-categories .block-content {
}
.view-bigvideo-categories {
}
.bigvideo-categories .views-row {
}
.bigvideo-categories .views-field-body {
}
.bigvideo-categories .views-field-field-cat-image {
}
.view-categories .views-field.views-field-body {
}
.view-preview .view-content {
}
.view-preview .views-row {
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.view-preview .views-row:nth-child(2n-1) {
}
.view-preview .views-field-field-veh-image {
}
.view-preview .views-fieldset {
  background-color: #ffffff;
}
.preview .block-inner {
}
.view-preview .views-fieldset a {
  border-radius: 17px;
  color: #00adc1;
  border: 2px solid #00adc1;
}
.view-preview .views-fieldset a:hover {
  color: #fff;
  background: #00adc1;
}
.view-preview .views-field-field-veh-image img {
}
.owl-slider {
  background-color: rgba(255, 255, 255, 0.5);
}
.owl-slider .block-inner {
}
.owl-slider .owl-theme {
}
.owl-pagination {
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  background-color: #000000;
}
.owl-theme .owl-controls .owl-buttons div {
  border-radius: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  background: url(images/light/prev.png) no-repeat;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  background: url(images/light/next.png) no-repeat; 
}
.owl-controls .owl-pagination {
}
.owl-wrapper .views-field-title a {
  color: #000000;
}
.owl-wrapper .views-field-body p {
}
.owl-wrapper-outer .views-field-title {
}

.owl-theme .owl-controls .owl-page span {
  background: #FFFFFF;
  background: rgba(0, 0, 0, 0.8);
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #00adc1;
}

.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #FFFFFF;
}
.owl-wrapper .owl-item > div {
}
.owl-theme .owl-controls {
}

.bigvideo-theme-continue {
  color: rgba(0, 0, 0, 0.8);
}
.bigvideo-theme-continue .site-name {
}
.bigvideo-theme-continue .site-slogan {
}
.bigvideo-theme-continue .continue-arrow {
}
.bigvideo-theme-continue .continue-button-wrapper {
}
.bigvideo-theme-continue .continue-arrow {
}
.bigvideo-theme-continue .continue-arrow div {
}
.continue-button {
  border-radius: 23px;
  background-color: #00adc1;
  color: #ffffff;
  border: 2px solid #00adc1;
}
.continue-button:hover {
  background: transparent;
  color: #00adc1;
}
.bigvideo-theme-continue .continue-arrow div {
  background: url(images/light/arrow.png) no-repeat 50% 50%;
}
.region-tertiary-content .region-inner {
}
.region-tertiary-content .block {
  background: white;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}
.region-tertiary-content .block-title {
}
.region-tertiary-content .block-content {
}
.region-tertiary-content p {
}
.region-tertiary-content h2 {
  color: #000000;
}